<div class="d-flex justify-content-center">
  <div class="col-sm-12 col-md-4 col-lg-3 mb-5">
    <input class="form-control mr-sm-2" type="text"
    required name='characterName' id='characterName'
    placeholder="Search by name..." aria-label="Search" (input)="findCharacter($event)">
  </div>
</div>
<section class="container" *ngIf="!showSearchedCharacter">
   <div class="row">
    <article *ngFor="let character of arrCharacters | paginate: { itemsPerPage: 12, currentPage: page }" class="col-12 col-md-6 col-lg-3">
      <app-card [character]="character"></app-card>
    </article>
  </div>
  <div class="pagination d-flex justify-content-center mt-5">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</section>

<ng-container class="container" *ngIf="showSearchedCharacter">
   <div class="row">
    <article *ngFor="let character of searchedCharacter" class="col-12 col-md-6 col-lg-3">
      <app-card [character]="character"></app-card>
    </article>
  </div>
</ng-container>
