* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
  --font-family: font-family: 'Montserrat', sans-serif;
  --primaryColor: #5f42e7;
  --secondaryColor: black;
  --fontSize: 1em;
  --bs-body-bg: #232323 !important;
}

body {
  font-family: var(--font-family);
  color: white !important;
}

html {
  background-color: var(--bs-body-bg);
}

img{
  width: 100%;
  height: auto;
  display: block;
}

.boton{
  text-decoration: none;
  color: white;
  background-color: var(--primaryColor);
  padding: 5px 15px;
  font-size: 0.8rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.boton:hover{
  background-color: darkslateblue;
  color: white;
}
