<div class="row">
  <h2>Página: {{currentPage}}</h2>
  <div class="botones mb-5">
    <button class="btn btn-dark" (click)="cambiaPagina(false)" *ngIf="currentPage !==1">
      Anterior
    </button>

    <button class="btn btn-dark ms-3" (click)="cambiaPagina(true)" *ngIf="currentPage !== pages">
      Siguiente
    </button>
  </div>
  <div>

    <button *ngFor="let page of arrFromNumber(pages)" (click)="seleccionPagina(page)">
      {{page}}
    </button>
  </div>
  <article class="col-12 col-md-3 card p-3 m-2  text-center" *ngFor="let product of arrProducts">
    <h3>{{product.name}}</h3>
    <p>{{product.department}}</p>
    <p>{{product.description}}</p>
    <p>€{{product.price}}</p>
    <p>Stock: {{product.stock}}</p>
    <p *ngIf="product.image">
      <img class="img" [src]="'http://localhost:3000/images/' + product.image" alt="{{product.name}}">
    </p>
  </article>
</div>